*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/.name
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetDropDown.xml
.idea/migrations.xml

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof

# Release build files
app/release/
